.chart .el-radio .el-radio__input.is-checked+.el-radio__label {
    color: rgb(223, 192, 38);
}
.chart .el-radio__input.is-checked .el-radio__inner {
    border-color: rgb(223, 192, 38);
    background: #fff;
}
.chart .el-radio__inner::after {

    background-color: rgb(223, 192, 38);

}